
zadanie.xcodeproj/project.xcworkspace/xcshareddata/zadanie.xccheckout

zadanie.xcodeproj/project.xcworkspace/xcuserdata/maciejrzeznik.xcuserdatad/UserInterfaceState.xcuserstate

zadanie.xcodeproj/project.xcworkspace/xcuserdata/maciejrzeznik.xcuserdatad/UserInterfaceState.xcuserstate

zadanie.xcodeproj/project.xcworkspace/xcuserdata/maciejrzeznik.xcuserdatad/UserInterfaceState.xcuserstate

zadanie.xcodeproj/project.xcworkspace/xcuserdata/maciejrzeznik.xcuserdatad/UserInterfaceState.xcuserstate

zadanie.xcworkspace/xcuserdata/maciejrzeznik.xcuserdatad/UserInterfaceState.xcuserstate
